<div class="row">
  <div class="col-md-12">
    <h1>Weather <small><span class="glyphicon glyphicon-search"></span></small></h1>
    <p>Search Weather Underground for current weather conditions.</p>
    <form class="form-inline" {{action "searchWeather" on="submit"}}>
      <div class="input-group">
        {{input id="zipCode" class="form-control" type="text" value=zipCode placeholder="Search by zip code" focus-out="showErrors"}}
        <span class="input-group-btn">
          {{input class="btn btn-primary" type="submit" value="Search" disabled=isInvalid}}
        </span>
      </div>
      {{#if showError}}
        <p class="has-error"><span class="help-block">{{errors.zipCode}}</span></p>
      {{/if}}
    </form>
  </div>
</div>
<div class="result-tools">
  <div class="row">
    <div class="col-xs-6">
      {{!-- Future sorting tool --}}
      <p>Total Cities: {{totalItems}}</p>
    </div>
    <div class="col-xs-6">
      {{#if multipleItems}}
        {{#if oneComparable}}
          <p class="pull-right">Select one more</p>
        {{else if maxComparables}}
          <p class="pull-right">
            <button {{action "clearCompare"}} class="btn btn-default btn-xs">Clear</button>
            <button {{action "compareItems"}} class="btn btn-primary btn-xs">Compare</button>
          </p>
        {{else}}
          <p class="pull-right">Select items to compare</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
<div class="result-set">
  {{#each model as |result|}}
    {{result-item item=result totalComparables=totalComparables removeResult="removeResult" addToCompare="addToCompare" removeFromCompare="removeFromCompare"}}
  {{/each}}
</div>

{{#if isLoading}}
  <div class="loading">
    <div class="indicator-loading">
      <img class="spinner" src="img/loading.gif" alt="Loading...">
    </div>
  </div>
{{/if}}
