<div class="row">
  <div class="col-md-12">
    <h1>Weather <small><span class="glyphicon glyphicon-search"></span></small></h1>
    <p>Search Weather Underground for latest weather.</p>
    <form class="form-inline" {{action "searchWeather" on="submit"}}>
      <div class="input-group">
        {{input id="zipCode" class="form-control" type="text" value=zipCode placeholder="Search by zip code" focus-out="showErrors"}}
        <span class="input-group-btn">
          {{input class="btn btn-primary" type="submit" value="Search" disabled=isInvalid}}
        </span>
      </div>
      {{#if showError}}
        <p class="has-error"><span class="help-block">{{errors.zipCode}}</span></p>
      {{/if}}
    </form>
  </div>
</div>
<div class="result-set">
  {{#each model as |result|}}
    {{result-item item=result}}
  {{/each}}
</div>
